<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeequan.jeepay.service.mapper.OrderStatisticsMerchantMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jeequan.jeepay.core.entity.OrderStatisticsMerchant">
        <id column="id" property="id"/>
        <result column="mch_no" property="mchNo"/>
        <result column="app_id" property="appId"/>
        <result column="app_name" property="appName"/>
        <result column="mch_name" property="mchName"/>
        <result column="amount" property="amount"/>
        <result column="amount_infact" property="amountInfact"/>
        <result column="analyse_id" property="analyseId"/>
        <result column="static_state" property="staticState"/>
        <result column="remark" property="remark"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <!-- 批量新增 -->
    <insert id="insertBatch">
        INSERT INTO t_order_statistics_merchant (mch_no, app_id, app_name, mch_name,
        amount,amount_infact,analyse_id,static_state,remark) VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.mchNo},
            #{item.appId},
            #{item.appName},
            #{item.mchName},
            #{item.amount},
            #{item.amountInfact},
            #{item.analyseId}),
            #{item.staticState}),
            #{item.remark}),
        </foreach>
    </insert>

    <!--商户收入统计-->
    <select id="selectOrderCountByMerchant" resultType="com.jeequan.jeepay.core.entity.OrderStatisticsMerchant" parameterType="java.util.Map" >
        select o.mch_no,o.mch_name,o.app_id,a.app_name,ROUND(IFNULL(SUM(o.amount) - SUM(o.refund_amount), 0)/100, 2) AS amount
        from t_pay_order o
        join t_pay_order_extend e  on o.pay_order_id=e.pay_order_id
        join t_mch_app a on o.app_id=a.app_id
        where 1=1
        <if test="createTimeStart != null"> AND created_at &gt;= #{createTimeStart} </if>
        <if test="createTimeEnd != null"> AND created_at &lt;= #{createTimeEnd} </if>
        and o.state in (2,5)
        group by o.mch_no,o.mch_name,o.app_id,a.app_name
    </select>

</mapper>
