<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeequan.jeepay.service.mapper.PayOrderExtendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jeequan.jeepay.core.entity.PayOrderExtend">
        <id column="pay_order_id" property="payOrderId" />
        <result column="pid" property="pid" />
        <result column="businessId" property="businessId" />
        <result column="dealType" property="dealType" />
        <result column="deptId" property="deptId" />
        <result column="account_state" property="accountState" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <!-- 更新订单退款金额和次数 -->
    <update id="updateRefundAmountAndCount">
        update t_pay_order_extend
        set refund_times = refund_times + 1, <!-- 退款次数 +1 -->
        refund_state = CASE WHEN refund_amount + #{currentRefundAmount} >= amount THEN 2 ELSE 1 END,  <!-- 更新是否已全额退款。 此更新需在refund_amount更新之前，否则需要去掉累加逻辑 -->
        `state` = CASE WHEN refund_state = 2 THEN 5 ELSE 2 END,  <!-- 更新支付状态是否已退款。 此更新需在refund_state更新之后，如果全额退款则修改支付状态为已退款 -->
        refund_amount = refund_amount + #{currentRefundAmount}   <!-- 退款金额累加 -->
        where
        pay_order_id = #{payOrderId} and `state` = 2 <!-- 订单号 & 成功状态的可退款 -->
        and refund_amount + #{currentRefundAmount} &lt;= amount  <!-- 已退款金额 + 本次退款金额 小于等于订单金额 -->
        and refund_state in (0, 1) <!-- 只有未发生退款和部分退款可退 -->

    </update>
</mapper>
